/*  */

@font-face {
    font-family: Gilroy;
    src: url("./fonts/Gilroy-Light.otf") format("opentype");
    font-weight: light;
}

@font-face {
    font-family: Gilroy;
    src: url("./fonts/Gilroy-ExtraBold.otf") format("opentype");
    font-weight: bold;
}